* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    margin: 0 13%;
    color: white;
    background:url(images/bg-intro-mobile.png),#ff7978; 
    /* background-blend-mode: lighten; */
}

header {
    margin-top: 85px;
}

body > p {
    margin-top: 20px;
}


.trial {
    background-color: #59519d;
    padding: 30px;
    margin-top: 65px;
}
.trial, form, input {
    border-radius: 7px;
}

/* ----------FORM---------
-------------------------- */

form {
    background-color: white;
    margin-top: 30px;
}
input {
    border: 1px solid rgb(176, 174, 174);
    margin-top: 16px;
    padding: 12px 0; 
    padding-right: 30%;
    padding-left: 20px;
}
.trial, form {
    box-shadow: 0px 7px 3px rgba(57, 57, 57, 0.34);
}

::placeholder {
    font-weight: bold;
    
}

button {
    background-color: #38ca8b;
    border: none;
    border-radius: 3px;
    padding: 12px 45px;
    margin-top: 16px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px darkgreen;
    cursor: pointer;
}
.lastp {
    margin-top: 16px;
    color: #c4c4c4;
}
.terms {
    color: #ff7978;
}

footer {
    margin: 20px 0;
}


@media screen and (min-width: 768px) {

    container {
        display: flex;
        align-items: center;
    }

    .sections1 {
        margin-right: 30px;
        text-align: left;

    }
    .sections1 > p {
        margin-top: 20px;
    }
    .sections2 {
        margin-top: 68px;
    }
    
    .trial {
        padding: 20px;
    }
    .lastp {
        padding-bottom: 15px;
    }
}